{% load static %}
<div
  accesskey="{{nfse_id}}"
  class="modal fade"
  id="deleteModal-{{nfse_id}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <form
    action="{% url 'cancelar_nfse' nfse_id %}"
    method="post"
    class="modal-dialog"
    role="document"
  >
    {% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tem certeza disso?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 class="">Informe o Motivo do Cancelamaento</h2>
        {% for field in cancelamento_form.visible_fields %}
        <label for="{{field.id_for_label}}"
          >{{ field.label }} {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <span class="text-danger">
            {% if field.field.required %} * {% endif %}
          </span>
        </label>
        {{ field }} {% endfor %}
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Fechar
        </button>
        <button class="btn btn-danger" type="submit">Cancelar</button>
      </div>
    </div>
  </form>
</div>
